<!DOCTYPE html>
<html>

  <% include partials/head.ejs %>

  <body ng-app="app" ng-controller="ctrl">
    <div class="container-fluid">
      <div class="jumbotron">
        <h1><%=title %></h1>

        <p>A Web-based time-sheet manager linked to Google Sheets.</p>
      </div>

        <div id="authAlert" class="alert alert-danger">
          <a class="close">×</a>
          <p class="text-center"><strong>Warning!</strong> You must allow Google to access your spreadsheets.</p>
        </div>

        <img src="images/sign-in-with-google.png" ng-click="login();">

    </div>

    <% include partials/scripts.ejs %>

    <script>
      $(document).ready(function() {
        $("#authAlert").hide();
        $(".alert").find(".close").on("click", function (e) {
          e.stopPropagation();
          e.preventDefault();
          $(this).closest(".alert").slideUp(400);
        });
      });
    </script>

    <script>
      var app = angular.module("app", []);

      app.controller("ctrl", function($scope, $http, $window) {

      var url;
      var windowThatWasOpened;

      $http.get("url").then(function(response) {
        url = response.data;
      });
      $scope.login = function() {
        windowThatWasOpened = $window.open(url, "Please sign in with Google", "width=500px,height:700px");

      };
      window.onmessage = function(e) {
        windowThatWasOpened.close();
        var urlWithCode = e.data;
        var idx = urlWithCode.lastIndexOf("code=");
        var code = urlWithCode.substring(idx + 5).replace("#","");
        $http.get("tokens?code=" + code).then(function(response) {
          if(response.data){
            accessGranted();
            //do more stuff
          }else{
            accessDenied();
          }
        });
      };
    });

    function accessDenied(){
      $("#authAlert").slideDown(400);
    }

    function accessGranted(){
      $("#authAlert").slideUp(400);
    }

    </script>
  </body>
</html>
