<!DOCTYPE html>
<html>

  <% include partials/head.ejs %>

  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1><%=title %></h1>

        <p>A Web-based time-sheet manager linked to Google Sheets.</p>
      </div>
    </div>

    <% include partials/scripts.ejs %>
  </body>
</html>
