<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>

  <body ng-app="app" ng-controller="ctrl">
    <div class="container-fluid">


    </div>

    <% include partials/scripts.ejs %>

    <form>
      <input type="text" ng-model="formData.url" placeholder="Enter URL to spreadsheet" />
      <button type="submit" class="btn btn-primary" ng-click="getSpreadsheet()">Submit</button>
    </form>

    <script>
      $(document).ready(function() {
        $("#authAlert").hide();
        $(".alert").find(".close").on("click", function (e) {
          e.stopPropagation();
          e.preventDefault();
          $(this).closest(".alert").slideUp(400);
        });
      });
    </script>

    <script>
      var app = angular.module("app", []);
      app.controller("ctrl", function($scope, $http) {
        $scope.getSpreadsheet = function(){
          $http.post('/findSheet',$scope.formData).then(function(data){
            console.log("recieved: " + data.data);
          });
        }
      });
    </script>

  </body>
</html>
