<div class="container-fluid">
  <div class="jumbotron">
    <h1>Timesheet</h1>

    <p>A Web-based time-sheet manager linked to Google Sheets.</p>
  </div>

  <!-- <h1>Let's get started.</h1> -->
  <p ng-show='firstEntryCell'>
    first entry: {{indices.firstEntryCell}}
    last entry: {{indices.lastEntryCell}}
  </p>
  <br>

  <button type="button" name="button" ng-click='popup()'>Popup</button>
  <button type="button" name="button" ng-click='logout()'>Logout</button>
  <button type="button" name="button" ng-click="settings()">Settings</button>

  <br>

  <div ng-show='timer.currentTask'>
    <h2 >Currently working on {{timer.currentTask.job}} - {{timer.currentTask.task}} for {{timer.counter | secondsToDateTime | date:'HH:mm:ss'}}</h2>
    <button type="button" name="button" ng-click='timer.endTask()'>Stop</button>
    <button ng-hide='timer.paused' type="button" name="button" ng-click='timer.pauseTask()'>Pause</button>
    <button ng-show='timer.paused' type="button" name="button" ng-click='timer.resumeTask()'>Resume</button>
    <button type="button" name="button" ng-click='timer.cancelTask()'>Cancel</button>
  </div>


  <table ng-show='entries' class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Job Number</th>
        <th>Job Name</th>
        <th>Task</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="entry in entries track by $index">
        <td>{{ entry.date }}</td>
        <td>{{ entry.job.number }}</td>
        <td>{{ entry.job.name }}</td>
        <td>{{ entry.desc }}</td>
        <td>{{ entry.hours }}</td>
      </tr>
    </tbody>
  </table>
</div>
